:root {
    --x-10: rgba(234, 242, 253, 1);
    --x-20: rgba(213, 230, 251, 1);
    --x-30: rgba(193, 217, 250, 1);
    --x-40: rgba(172, 204, 248, 1);
    --x-50: rgba(151, 191, 246, 1);
    --x-60: rgba(130, 179, 244, 1);
    --x-70: rgba(109, 166, 242, 1);
    --x-80: rgba(89, 153, 241, 1);
    --x-90: rgba(68, 141, 239, 1);
    --x-100: rgba(47, 128, 237, 1);
    --frame-1597883462: rgba(17, 17, 17, 1);
    --frame-1597883463: rgba(247, 247, 247, 1);
    --frame-1597883461: rgba(255, 255, 255, 1);
    --frame-1597883460: rgba(136, 136, 136, 1);
    --frame-1597883459: rgba(47, 128, 237, 1);
    --property-1variant2: rgba(89, 153, 241, 1);
  }
  